
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* background-color: black; */
    
}
header{
    background-color: black;
    color: white;
}
body{
    font-family:Arial,sans-serif;
}

#menu{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px ;
}
#headicons{
    display:flex;
    gap:35px;
}
.logo{
    display:flex;
    align-items: center;
    gap:10px;
}

.logo img{
    width:60px;
}
#headicons a:hover{
    color: red;
    /* text-decoration: underline; */
}

#headicons a{
    color:white;
    text-decoration:none;
}

#try{
    background:#f7b500;
    color:black;
    border:none;
    width: 110px;
    height : 50px;
    border-radius:30px;
    font-weight:bold;
}
#try i{
    background-color: #f7b500;
}
#subsection{
    background-color: black;
    position: relative;
    height: 75vh;
    top: -50px;
}
#subsection p{
    color: white;
}
span{
    color: white;
}
#head2{
    color: white;
    display: flex;
    align-content: start;    
}
#head2 span{
    color: #f7b500; 
}
#tagline{
    color: white;
    border: solid 2px yellow;
    width: 300px;
    height: 25px;
    border-radius: 25px;
    text-align: center;
    margin-left: 10px;
}
#head2{
font-size: 60px;
}
#subpara{
    margin-left: 50px;
    margin-top: 50px;
}
#subpara p{
    font-size: larger;
}
#subpara #try{
    width: 150px;
    border-radius: 15px;
    height: 35px;
}
#subpara #try1{
    border: solid;
    background-color: black;
    width: 150px;
    height : 35px;
    border-radius:30px;
    font-weight:bold;
    margin-left: 35px;
}
#try1{
    color: white;
}
#try1 i{
    color: #f7b500;
    
}
/* Burger container */
#burgerimage{
    position: absolute;
    right: 130px;
    bottom: 90px;
    width: 500px;
    height: 500px;
}

/* Burger image */
#burger{
    position: absolute;
    width: 350px;
    left: 75px;
    bottom: 0;
    transition: transform .4s ease;
}


#thunder1,
#thunder2,
#thunder3{
    position: absolute;
    width: 120px;
    height: auto;
    transition: all .5s ease;
}


#thunder1{
    top: 40px;
    left: 195px;
}


#thunder2{
    top: 250px;
    left: -70px;
}


#thunder3{
    top: 250px;
    right: -70px;
}


#burgerimage:hover #burger{
    transform: scale(1.3);
}

#burgerimage:hover #thunder1{
    transform: translateY(-40px) rotate(-20deg);
}

#burgerimage:hover #thunder2{
    transform: translateX(-35px) rotate(-20deg);
}

#burgerimage:hover #thunder3{
    transform: translateX(35px) rotate(20deg);
}
#section #subsection2{
    background-color: white;
    color: black;
   
}
#subsection2 h4{
text-align: center;
color: #f7b500;
}
#subsection2 h2{
    text-align: center;
    font-weight: bold;
}

#subsection2{
    background: white;
    padding: 0px 80px;
    text-align: center;
    margin-top: 5px;
}

#subsection2 h4{
    color: #f7b500;
    margin-bottom: 50px;
    font-size: large;
}

#subsection2 h2{
    color: black;
    margin-bottom: 50px;
    font-size: 40px;
    margin-top: 50px;
}

.features{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    
}

.feature{
    text-align: center;
    background: white;
    padding: 20px;
}
.feature i{
    font-size: 45px;
    color: #f7b500;
    background: #fff6dc;
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.feature h3{
    color: black;
    margin-bottom: 10px;
}
.feature p{
    color: #555;
}
#subsection3{
background-color: black;
margin-top: 5px;
}
#subsection3 h2{
    margin-top: 50px;
    text-align: center;
    color: white;
}
#subsection3 h4{
    color:#f7b500;
    text-align: center;
}
.class i{
    color: #f7b500;
}
#review{
    background: #0d0d0d;
    
    text-align: center;
}

#review h4{
    color: #f7b500;
    margin-bottom: 10px;
    font-size: larger;
}

#review h2{
    color: white;
    font-size: 45px;
    margin-bottom: 50px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.reviewcard{
    width: 320px;
    background: #1c1c1c;
    color: white;
    padding: 30px;
    border-radius: 15px;
    text-align: left;
}
.reviewcard img{
    width: 50px;
    height: 45px;
    border-radius: 50%;
}
.reviewcard i{
    color: #f7b500;
    font-size: 35px;
}

.reviewcard p{
    margin: 20px 0;
    color: #ccc;
}

.reviewcard h3{
    margin-top: 20px;
}
.reviewcard h5{
    color: #999;
}
footer{
    color: white;
    margin-top: 20px;
    
    
}
footer img{
    width: 100px;
}
#html{
    scroll-behavior: smooth;
}
.footersection{
    display: flex;
    gap: 60px;

    justify-content: space-evenly;
    align-items: flex-start;
}
.footercontent{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: red;
}
.footercontent textarea{
    background-color: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 25px;
    width: 180px;
    height: 35px;
    text-align: center;
}
#send{
    margin-left: 195px;
    margin-top: -35px;
}
.footercontent h3{
    color: #f7b500;
}
.footercontent1 {
    /* margin-top: -90px; */
   position: relative;
   left: 50px;
   top: -95px;
   
    
}
.socials{
    font-size: 25px;
}
#footer hr{
    width: 500px;
    margin-left: 520px;
    
}
#copyright{
    text-align: center;
    margin-top: 50px;
}
::-webkit-scrollbar{
    width: 8px;
    
}
::-webkit-scrollbar-track{
    background-color: whitesmoke;
}
::-webkit-scrollbar-thumb{
    background-color: orange;
    border-radius: 15px;
}
#menu p{
    color: #f7b500;
    font-weight: bold;
    font-family: "Geist Pixel", sans-serif;
}
#subsection p{
    font-family: "Roboto Slab", serif;
}
#small{
    position: relative;
    margin-left: -100px;
    top: 75px;
}